/*:root {*/
/*  --md-primary-fg-color: #0b3b36;*/
/*  !*--md-primary-fg-color: #0b3b36;*!*/
/*  !*--md-primary-fg-color--light: #ff0000;*!*/
/*  !*--md-primary-fg-color--dark: #ffea00;*!*/
/*  --md-primary-bg-color--light: #0b3b36*/
/*}*/

/*
Dark green: 0b3b36
Light green: 00bf63
*/


[data-md-color-scheme="ecologits"] {
  --md-primary-fg-color: #0b3b36;
  --md-typeset-a-color: #00914b;
  --md-accent-fg-color: #00bf63;
  --md-primary-fg-color--dark: #062522;
}

[data-md-color-scheme="ecologits"] img[src$="#only-dark"],
[data-md-color-scheme="ecologits"] img[src$="#gh-dark-mode-only"] {
  display: none; /* Hide dark images in light mode */
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #0b3b36;
  --md-hue: 200;
  --md-default-fg-color: hsla(var(--md-hue), 15%, 95%, 1);
  --md-typeset-a-color: #00bf63 !important;
  --md-accent-fg-color: #008343;
  --md-primary-fg-color--dark: #062522;
}


/* Home page */

.hero-logo br {
  display: none !important;
}

.hero-logo figcaption {
  color: var(--md-typeset-color) !important;
  font-style: normal !important;
  max-width: 480px !important;
}

.hero-logo__tagline {
  font-size: 1rem !important;
}

.hero-logo__team {
  font-size: 0.875rem !important;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /*margin-top: 6rem;*/
  /*margin-bottom: 4rem;*/
  max-width: 1000px;
}

.project-card {
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.project-card.calculator {
  grid-row: span 2;
}

.project-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.project-card-header svg {
  margin-right: 5px;
  fill: var(--md-typeset-color);
}

.project-card-header h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--md-typeset-color);
}

.project-card p {
  margin: 0.5rem 0;
}

.project-card .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card img {
  margin: 0 auto;
  border-radius: 6px;
  max-width: 100%;
}

.code-snippet-container {
  position: relative;
  /*margin-top: auto;*/
  /*margin: 0;*/
}

.project-card .code-snippet {
  background-color: #f4f4f4;
  border-radius: 6px;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  font-family: monospace;
  word-break: break-all;
  text-align: left;
  font-size: 0.9rem;
}

.copy-button {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.copy-button:hover {
  opacity: 1;
}

.mdx-content {
  width: 100%;
  max-width: 1000px;
}

@media screen and (max-width: 768px) {
  .mdx-hero__content .subtitle {
      font-size: 0.8rem;
      max-width: 70%;
      font-weight: 700;
  }

  .project-cards {
      grid-template-columns: 1fr;
  }

  .project-card.calculator {
      grid-row: auto;
  }
}

[data-md-color-scheme="slate"] {
  .project-card {
      border-color: #484848;
  }

  .project-card .code-snippet {
      background-color: #293034;
  }
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}


/* Get started page */

.provider-item {
  display: inline-block;
  margin: 4px 4px;
  border-radius: 5px;
}

.provider-item:hover {
  background: #0000000c;
}

[data-md-color-scheme="slate"] {
  .provider-item:hover {
    background: #0000005f;
  }
}

.provider-item label {
  padding: 1px 4px 1px 0;
  /*padding-right: 4px;*/
}

.provider-item input {
  accent-color: var(--md-accent-fg-color);
}

.badge {
  display: inline-flex;
  align-items: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--md-accent-fg-color);
  border-radius: 2px;
  padding: 0;
  height: 22px;
}

.badge__icon {
  margin: 0 2px;
  font-size: 16px;
}

.badge__text {
  padding: 0 4px;
  border-bottom: 1px solid var(--md-accent-fg-color);
  border-top: 1px solid var(--md-accent-fg-color);
  border-right: 1px solid var(--md-accent-fg-color);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  line-height: 20px;
  background: #fff;
}

[data-md-color-scheme="slate"] {
  .badge__text {
    background-color: rgb(30, 37, 41);
  }
}
